<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{162,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,162}}</string>
			<key>sourceSize</key>
			<string>{162,162}</string>
		</dict>
		<key>2.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,1},{162,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,162}}</string>
			<key>sourceSize</key>
			<string>{162,162}</string>
		</dict>
		<key>3.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,1},{162,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,162}}</string>
			<key>sourceSize</key>
			<string>{162,162}</string>
		</dict>
		<key>4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,164},{162,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,162}}</string>
			<key>sourceSize</key>
			<string>{162,162}</string>
		</dict>
		<key>5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,327},{162,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,162}}</string>
			<key>sourceSize</key>
			<string>{162,162}</string>
		</dict>
		<key>6.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,164},{162,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,162}}</string>
			<key>sourceSize</key>
			<string>{162,162}</string>
		</dict>
		<key>high_ccore.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,327},{190,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,138}}</string>
			<key>sourceSize</key>
			<string>{190,138}</string>
		</dict>
		<key>score.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,164},{112,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,138}}</string>
			<key>sourceSize</key>
			<string>{112,138}</string>
		</dict>
		<key>shuaxin.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,164},{44,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,52}}</string>
			<key>sourceSize</key>
			<string>{44,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>type</key>
		<string>packer</string>
		<key>realTextureFileName</key>
		<string>main.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cfaf52eb1eb41c7531bf2d0be3f50f2e$</string>
		<key>textureFileName</key>
		<string>main.png</string>
	</dict>
</dict>
</plist>